

div.mygraph, div.traducción 
{/* border: 4px solid black; */
margin: 7px 7px 7px 7px;
padding: ;
font-size: 20px;
font-family: "Times New Roman", Times, serif;
}


.nivel01, .nivel02, .nivel03, .nivel04, .nivel05, .nivel06, .nivel07, .nivel08, .nivel09, .nivel10, .nivel11  {vertical-align: middle; 
display:inline-block;
margin: 4px 4px 4px 8px;
padding: 4px 4px 4px 4p;}

.nivel01, div.mygraph span.nivel
{border: 2px solid black; 
vertical-align: middle; 
display:inline-block;
margin: 4px 4px 4px 8px;
padding: 4px 4px 4px 4px;
background-color: white;

}

.nivel02 , div.mygraph span span.nivel {border: 2px solid red;
background-color: #F0F0F0;
display: inline-block;} 

.nivel03 , div.mygraph span span span.nivel {border: 2px solid green;
background-color: white;
display: inline-block;} 

.nivel04 , div.mygraph span span span span.nivel {border: 2px solid blue;
background-color: #F0F0F0;
display: inline-block;} 

.nivel05 , div.mygraph span span span span span.nivel {border: 2px solid brown;
background-color: white;
display: inline-block;} 

.nivel06 , div.mygraph span span span span span span.nivel  {border: 2px solid magenta;
background-color: #F0F0F0;
display: inline-block;} 


.nivel07 , div.mygraph span span span span span span span.nivel  {border: 2px solid orange ;
background-color: white;
display: inline-block;} 


.nivel08 , div.mygraph span span span span span span span span.nivel  {border: 2px solid grey;
background-color: #F0F0F0;
display: inline-block;} 


.nivel09 , div.mygraph span.linea {background-color: Gainsboro;
color: black;
display: inline-block;
border: 2px  red; font-size: 65%;
}

div.mygraph span.part, div.mygraph span.conj, div.mygraph span.subord, div.mygraph span.puntuacion  {color: red;
display: inline-block;
border-color: yellow; }


div.mygraph span.linea span.puntuacion {color: black;}



div.mygraph span.verbo {
font-weight: bold;
}


div.mygraph span.buscar {
font-size: 150%;
background-color: yellow;
}


